In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weighted_average_data.csv')

In [6]:
df.tail()

,Unnamed: 0,team,ID,Avg_Weighted_Score,batting_average,batting_strike_rate,bowling_average,bowling_economy_rate,bowling_strike_rate,win_ratio
1895,1895,sunrisers hyderabad,1304096,18.736334,24.249890,128.064474,30.608182,8.590000,19.814545,0.430909
1896,1896,sunrisers hyderabad,1304100,18.920357,25.442376,125.230056,26.655455,8.417273,18.427273,0.446364
1897,1897,sunrisers hyderabad,1304107,19.207178,24.975009,128.236838,23.960909,8.147273,17.447273,0.481818
1898,1898,sunrisers hyderabad,1304111,19.317823,24.738912,122.628079,25.739091,7.309091,18.417273,0.450909
1899,1899,sunrisers hyderabad,1304116,17.616488,23.872813,125.171430,28.971818,7.355455,20.248182,0.410000

In [4]:
df.team.unique()

array(['chennai super kings', 'deccan chargers', 'delhi capitals',
       'gujarat lions', 'gujarat titans', 'kochi tuskers kerala',
       'kolkata knight riders', 'lucknow super giants', 'mumbai indians',
       'pune warriors', 'punjab kings', 'rajasthan royals',
       'rising pune supergiant', 'royal challengers bangalore',
       'sunrisers hyderabad'], dtype=object)

In [5]:
df.shape

(1900, 10)

In [7]:
grouped_df = df.groupby('team').mean()

In [48]:
grouped_df.head()

,Unnamed: 0,ID,Avg_Weighted_Score,batting_average,batting_strike_rate,bowling_average,bowling_economy_rate,bowling_strike_rate,win_ratio
team,,,,,,,,,
chennai super kings,103.5,7.962737e+05,20.532736,27.458362,126.841765,19.359043,6.005997,14.749406,0.554156
deccan chargers,245.0,4.390420e+05,18.520011,22.674650,117.453135,24.555309,6.581430,17.636752,0.426400
delhi capitals,394.5,8.370276e+05,19.732042,25.216850,125.564505,20.626859,6.414959,14.894383,0.485767
gujarat lions,521.5,1.028401e+06,19.732017,24.719435,126.161708,28.281758,6.176364,20.412970,0.485667
gujarat titans,544.5,1.305097e+06,17.664735,27.820714,130.157828,17.862102,5.169205,12.990682,0.592045

In [49]:
grouped_df['team_name'] = grouped_df.index

In [50]:
grouped_df.head()

,Unnamed: 0,ID,Avg_Weighted_Score,batting_average,batting_strike_rate,bowling_average,bowling_economy_rate,bowling_strike_rate,win_ratio,team_name
team,,,,,,,,,,
chennai super kings,103.5,7.962737e+05,20.532736,27.458362,126.841765,19.359043,6.005997,14.749406,0.554156,chennai super kings
deccan chargers,245.0,4.390420e+05,18.520011,22.674650,117.453135,24.555309,6.581430,17.636752,0.426400,deccan chargers
delhi capitals,394.5,8.370276e+05,19.732042,25.216850,125.564505,20.626859,6.414959,14.894383,0.485767,delhi capitals
gujarat lions,521.5,1.028401e+06,19.732017,24.719435,126.161708,28.281758,6.176364,20.412970,0.485667,gujarat lions
gujarat titans,544.5,1.305097e+06,17.664735,27.820714,130.157828,17.862102,5.169205,12.990682,0.592045,gujarat titans

In [51]:
grouped_df.to_csv("team_weighted_averages.csv", index=False)

In [52]:
team_1 = 'rajasthan royals'

In [53]:
grouped_df.loc[team_1]['Avg_Weighted_Score']

18.566381865398462

In [54]:
grouped_df.at[team_1, 'Avg_Weighted_Score']

18.566381865398462

In [57]:
# Write some code to get the other parameters needed for the model
df = pd.read_csv("team_weighted_averages.csv")

team_1_score = df.loc[df['team_name'] == team_1, 'Avg_Weighted_Score']
team_1_score

11    18.566382
Name: Avg_Weighted_Score, dtype: float64

In [46]:
df.head()

,Unnamed: 0,ID,Avg_Weighted_Score,batting_average,batting_strike_rate,bowling_average,bowling_economy_rate,bowling_strike_rate,win_ratio
0,103.5,7.962737e+05,20.532736,27.458362,126.841765,19.359043,6.005997,14.749406,0.554156
1,245.0,4.390420e+05,18.520011,22.674650,117.453135,24.555309,6.581430,17.636752,0.426400
2,394.5,8.370276e+05,19.732042,25.216850,125.564505,20.626859,6.414959,14.894383,0.485767
3,521.5,1.028401e+06,19.732017,24.719435,126.161708,28.281758,6.176364,20.412970,0.485667
4,544.5,1.305097e+06,17.664735,27.820714,130.157828,17.862102,5.169205,12.990682,0.592045